<html>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script>      
      function check()
      {
         console.log("hi00");
         let f = document.getElementById("frm");
         f.setAttribute('method',"get");
         let num1 = parseInt(document.querySelector(".first").value);
         console.log(num1);
         let num2 = parseInt(document.querySelector(".second").value);
         console.log(num2);
         let card = document.getElementById("op").value;
         console.log(card);
         if (card == "add"){
            //f.setAttribute('action',`http://localhost:5051/add/${num1}/${num2}`);
            //console.log("add1");\
            $.get(`http://localhost:5051/add/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else if(card =="minus"){
            //f.setAttribute('action',`/sub/${num1}/${num2}`);
            $.get(`http://localhost:5052/sub/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else if(card =="multiply"){
            //f.setAttribute('action',`/mul/${num1}/${num2}`);
            $.get(`http://localhost:5053/mul/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else if(card =="gcd"){
            //f.setAttribute('action',`/mul/${num1}/${num2}`);
            $.get(`http://localhost:5057/gcd/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else if(card =="mod"){
            //f.setAttribute('action',`/mul/${num1}/${num2}`);
            $.get(`http://localhost:5055/mod/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else if(card =="exp"){
            //f.setAttribute('action',`/mul/${num1}/${num2}`);
            $.get(`http://localhost:5056/exp/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         else{
            //f.setAttribute('action',`/div/${num1}/${num2}`);
            $.get(`http://localhost:5054/div/${num1}/${num2}`, function(responseText) {
               alert(responseText);
           });
         }
         
         return true;
      }
   </script>
   <body>
      <div id="a1"></div>
      <h1>Arithmetic Microservices</h1>
      <form action="" method="GET" id="frm" onsubmit="return check()">
         <!-- Hint 1: What if input "first" and "second" had default values? -->
         Enter the First number : <input type="number" class="first" name="first" value="0" required>
         <br>
         Enter the Second number: <input type="number" name="second" class="second" value="0" required>
         <br>
         Enter Operation: <select id="op" name="operation" class="operation">
            <option value="add">Addition</option>
            <option value="minus">Subtraction</option>
            <option value="multiply">Multiplication</option>
            <option value="divide">Division</option>
            <option value="gcd">GCD</option>
            <option value="mod">Modulus</option>
            <option value="exp">Exponent</option>
            
          </select>
         <br><br>
         <input type="submit" name="submit_button">
      </form>
        {% for message in get_flashed_messages() %}
         {{message}}
      {% endfor %}
   </body>
</html>